{{!-- Dashboard with existing blog posts by user --}}
{{log this}}
<section class="blog-section d-flex flex-column">
    {{!-- {{#each blogposts as |post|}}

    <section class="card" id="post-{{post.id}}">
        <section class="card-header d-flex justfiy-content-between">
            <p>{{post.title}} </p>
            <p>{{post.user.username}} </p>
            <p>{{post.date_created}}</p>
        </section>

        <section class="card-body">
            {{post.content}}
        </section>

    </section>

    {{/each}} --}}

    {{#if creatingPost}}
        {{> create-post}}
    {{else}}
        {{> post-partial}}
        <button>+ New Post</button>
    {{/if}}
    
    
</section>

{{#if creatingPost}}
<script src="./js/create-post.js"></script>
{{else}}
<script src="./js/dashboard.js"></script>
{{/if}}
